:root {
  --base: #fbc936;
  --panel: #2a2a2a;
  --grey: #626262;
  --bg: #212121;
  --shadow: #0000002b;
  --txt: #fff;
}

body {
  font-family: "Teko", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--txt);
  overflow-x: hidden;
  user-select: none;
}
